<div class="banner">
  <h1>Welcome to your digital beach bar!</h1>
   <h2>Find cocktail inspirations below!</h2>

<%= link_to "Add new cocktail", new_cocktail_path,  class: "btn" %>
</div>

<div class="container">
        <% @cocktails.each do |cocktail| %>
        <li> <%= link_to cocktail.name, cocktail_path(cocktail) %></li>
        <% end %>
    </div>




